<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {background-color:white}
p    {color: red}
p1	 {color: black}
legend {color: blue}
</style>
    <title></title>
</head>
<body>
    <form>
          <fieldset>
                    <legend></legend>
                    <p>
                    <p1><br>Thanks for your enquiry<br></p1>
                    <p1><br>We aim to respond to you within one business day<br></p1>
                    <p><a href="/">Go back to home page.</a></p>
                    </p>
          </fieldset>
    </form>
</body>
</html>
