{{ define "content" }}
  <div class="tm">
    <h1 style="color:DarkGreen">{{ .Title }}</h1>
  <h2 style="color:Orange">Rosa Martinez MBA</h2>
  <center><img src="../images/Rosa.jpeg" alt="temppic" class="img-circle"align="middle" height="200" width="200"></center>
  <p class="a">Consultancy Founder</p>
  <p class="a">London, UK</p>
  <center><a href="https://www.linkedin.com/in/rosa-maria-martinez-long"><img src="../images/linkedin.jpeg" alt="linkedin-logo" align="middle"height="40" width="40"></a></center>
<p></p>
<p></p>
<h2 style="color:Orange">Richard Long</h2>
<center><img src=../images/Richard1.jpeg alt="RichardPic" class="img-circle" align="middle" height="200" width="200"></center>
<p class="a">Web Developer/Technical</p>
<p class="a">London, UK</p>
  </div>
<center><a href="https://twitter.com/Trymriverman"><img src="../images/twitter.jpeg" alt="twitter-logo" align="middle" height="40" width="40"></a></center>
<p></p>
<p></p>

{{ end }}
